# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env

# Build / cache
dist/
build/
.cache/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Uploads (if any)
uploads/
